
nav ul {
    display: flex;
    list-style: none;
    background-color: #F3E2A9;
    margin: 0;
    padding: 2% 2% 0;
    top: 0;
    width: 100vw;
    justify-content: space-evenly;
    position: relative;
}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}
hr {
    width: 0;
    transition: width 0.15s ease-in;
    margin-bottom: 0;
    position: relative;
    bottom: 0;
}

.activeLink~hr{
    height: 3px;
    background-color: black;
    width: 100%;
}
